
/* REGISTER CUSTOM FONTS */
@font-face {
font-family: VistaSlabOT;
src: url("fonts/VistaSlabOT-Reg.otf") format("opentype");
}

@font-face {
font-family: VistaSlabOT;
font-weight: bold;
src: url("fonts/VistaSlabOT-Bold.otf") format("opentype");
}
/* END REGISTER CUSTOM FONTS */

body {
  /*padding-top: 40px;
  padding-bottom: 40px;*/
  font-family: VistaSlabOT;
  color: #404040;
  
}

.container-narrow > hr {
  margin: 30px 0;
}

h3 p {
  color: #404040;
  font-family: VistaSlabOT;
}

/* Custom Fonts and Shizzz */
.customFonts.errorMessage {
  color: red;
  font-size: 14px;
}

.customFonts {
  color: #404040;
  font-family: VistaSlabOT;
}

p.customSize{
  font-size: 20px;
}

.customFontsBold {
  color: #404040;
  font-family: VistaSlabOT;
  font-weight: bold;
}

/* LOGIN PAGE STUFF */
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

a {
  color: #f29400;
  text-decoration: none;
  font-weight: bold;
}

#logo{
  /*margin: 20px;*/
  float: left;
  /*width: 200px;*/
  height: 76px;
  display: block;
  background: #404040;

}

/* Menu links for desktops*/
ul {
  list-style: none;
  float:right;
}

li {
  display: inline-block;
  float: left;
  padding: 10px
}

.links{ 
  color: #f29400;
  text-decoration: none;
  font-weight: bold;
}

.logoBkgrd {
  background: #404040;
  height: 76px;
}
/* END LOGIN PAGE STUFF */

/* ACTIVE BUTTON TO SWITCH VIEWS */
.btn.activeBtn {
  color: #404040;
  background-color: white;
  height: 50px;
  font-size: 22px;
}

.btn.inactiveBtn {
  font-size: 22px;
  background-color: #cfcfcf;
  color: #404040;
  height: 50px;
}

.btnSubmit {
  background-color: #f29400;
  color: #fff;

}

.button-align {
  text-align: center;
}
/* END ACTIVE BUTTON TO SWITCH VIEWS */

/* TOASTR SUPPORT*/
.toast-top-center { top: 12px; left: 50%; margin-left: -182px; }
/* END TOASTR SUPPORT */

/* MEDIA QUERIES */
/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

@media all and (max-width: 240px) {
.toast-top-center { margin-left: -100px; }
.col-xs-4 {
    width: 100%;
  }
  nav ul, nav:active ul { 
    display: none;
  }
}

@media all and (min-width: 241px) and (max-width: 320px) {
  .toast-top-center { margin-left: -130px; }
  .col-xs-4 {
    width: 100%;
  }
  nav ul, nav:active ul { 

    display: none;
  }
}

@media all and (min-width: 321px) and (max-width: 480px) {
  .toast-top-center { margin-left: -150px; }
  .col-xs-4 {
    width: 100%;
  }
  nav ul, nav:active ul { 
    display: none;
  }
}
/* END MEDIA QUERIES */

/* FLATTEN DAS BOOTSTRAP */
.well, .navbar-inner, .popover, .btn, .tooltip, input, select, textarea, pre, .progress, .modal, .add-on, .alert, .table-bordered, .nav>.active>a, .dropdown-menu, .tooltip-inner, .badge, .label, .img-polaroid {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
  border-collapse: collapse !important;
  background-image: none !important;
}
/* END FLATTEN DAS BOOTSTRAP */