
/*ACTIVE BUTTON TO SWITCH VIEWS */
.btn.activeBtn {
  color: #404040;
  background-color: white;
  height: 50px;
  font-size: 22px;
}

.btn.inactiveBtn {
  font-size: 22px;
  background-color: #cfcfcf;
  color: #404040;
  height: 50px;
}
/*END ACTIVE BUTTON TO SWITCH VIEWS */

/* Custom page footer */
footer {
  padding-bottom: 19px;
}

.container-narrow > hr {
  margin: 30px 0;
}

.button-align {
  text-align: center;
}

.toast-top-center { top: 12px; left: 50%; margin-left: -182px; }


/*TOASTR AND MEDIA QUERIES*/
/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

@media all and (max-width: 240px) {
.toast-top-center { margin-left: -100px; }
.col-xs-4 {
    width: 100%;
  }
  nav ul, nav:active ul { 
    display: none;
  }
}

@media all and (min-width: 241px) and (max-width: 320px) {
  .toast-top-center { margin-left: -130px; }
  .col-xs-4 {
    width: 100%;
  }
  nav ul, nav:active ul { 
    display: none;
  }

}

@media all and (min-width: 321px) and (max-width: 480px) {
  .toast-top-center { margin-left: -150px; }
  .col-xs-4 {
    width: 100%;
  }
  nav ul, nav:active ul { 
    display: none;
  }
}

#clear { position : absolute; top:1%; left :14%; }
