<!-- home.html -->
<div class="btn-group btn-group-justified">
	<div class="btn-group">
		<button ng-click="showBeerVotes()" class="btn btn-default customFonts">Beer</button>
	</div>
	<div class="btn-group">
		<button ng-click="showChiliVotes()" class="btn btn-default customFonts">Chili</button>
	</div>
	<div class="btn-group">
		<button ng-click="showEnterItems()" class="btn btn-default customFonts">Manage</button>
	</div>
</div>
</br>
<p class="customFonts">You've tasted, you've tested, you may have even gotten a bit tipsy. Now to find out the winner</p>
<div id="beers" ng-show="showBeer"> 
	<table align="center" class="table table-striped">
	    <thead class="customFontsBold">
	        <th >
	            Name
	        </th>
	        <th>
	            Total Votes
	        </th>
	    </thead>
	    <tbody ng-repeat="item in beers | orderBy:predicate" class="customFonts">
	        <tr>
	            <td>
	                {{item.name}}
	            </td>
	            <td>
	            	{{item.rating}}
	            </td>
	        </tr>
	    </tbody>
	</table>
</div>

<div id="beers" ng-show="showChili"> 
	<table align="center" class="table table-striped">
	    <thead class="customFontsBold">
	        <th >
	            Name
	        </th>
	        <th>
	            Total Votes
	        </th>
	    </thead>
	    <tbody ng-repeat="item in chili | orderBy:predicate" class="customFonts">
	        <tr>
	            <td>
	                {{item.name}}
	            </td>
	            <td>
	            	{{item.rating}}
	            </td>
	        </tr>
	    </tbody>
	</table>
</div>


<div id="beers" ng-show="showEnter"> 
	<table align="center" class="table table-striped">
	    <thead class="customFontsBold">
	        <th >
	            Name
	        </th>
	        <th>
	           	Is a Beer?
	        </th>
	        <th>
	           	Is Brewers Choice?
	        </th>
	    </thead>
	    <tbody class="customFonts" ng-repeat="item in newItems">
	        <tr>
	            <td>
	                <input type="text" ng-disabled="item.disabled" placeholder="Name" class="form-control customFonts" ng-model="item.name" required autofocus />
	            </td>
	            <td>
	            	<input type="checkbox" ng-disabled="item.disabled" class="form-control customFonts" ng-model="item.isBeer" required autofocus />
	            </td>
	            <td>
	            	<input type="checkbox" ng-disabled="item.disabled" class="form-control customFonts" ng-model="item.isBrewersChoice" required autofocus />
	            </td>
	            <td>
	            	<button type="button" ng-click="removeNewItem($index)" class="btn btn-default btn-lg">
  						<span class="glyphicon glyphicon-minus"></span>
					</button>
	            	<button type="button" ng-click="addNewItem()" class="btn btn-default btn-lg" ng-show="$last">
  						<span class="glyphicon glyphicon-plus"></span>
					</button>
					
	            </td>
	        </tr>
	    </tbody>
	</table>
</div>

<div class="button-align" ng-show="showChili || showBeer ">
	<button type="submit" class="btn btn-lg btnSubmit customFonts" ng-click="refreshVotes()">REFRESH</button>&nbsp;&nbsp;
</div>
<div class="button-align" ng-show="showEnter">
	<button type="submit" class="btn btn-lg btnSubmit customFonts" ng-click="insertNewItems()">INSERT</button>&nbsp;&nbsp;
</div>