<!-- home.html -->
<div class="btn-group btn-group-justified">
	<div class="btn-group">
		<a href="#beer" class="btn btn-default customFonts">Beer</a>
	</div>
	<div class="btn-group">
		<a href="#chili" class="btn btn-default customFonts">Chili</a>
	</div>			
</div>

</br>
<p class="customFonts">You've tased, you've tested, you may have even gotten a bit tipsy. Now rate your favorite chili below.</p>
<alert ng-repeat="alert in alerts" class="customFonts" type="alert.type">{{alert.msg}}</alert>
<div id="beers"> 

	<table align="center" class="table table-striped">
	    <thead class="customFontsBold">
	        <th >
	            Name
	        </th>
	        <th>
	            Rating
	        </th>
	    </thead>
	    <tbody ng-repeat="item in beerItems" class="customFonts">
	        <tr>
	            <td>
	                {{item.name}}
	                <span class="glyphicon glyphicon-star iconColor"></span>
	            </td>
	            <td>
	            	<div id="select-native-1-button" class="ui-btn ui-icon-carat-d ui-btn-icon-right ui-corner-all ui-shadow">
	            	<span></span>
		            	<select class="form-control" name="select-native-1" id="select-native-1" ng-model="item.rating" ng-change="saveVote( item, item.rating)">
		            			<option value="0">0</option>
			                    <option value="1">1</option>
			                    <option value="2">2</option>
			                    <option value="3">3</option>
			                    <option value="4">4</option>
			                    <option value="5">5</option>
                		</select>
            		</div>
	            </td>
	        </tr>
	    </tbody>
	</table>
	<div class="button-align">
		<button type="submit" class="btn btn-lg customFonts" ng-click="finalizeVote()">SUBMIT YOUR VOTES</button>&nbsp;&nbsp;
	</div>
</div>