<!-- login.html -->
<form class="form-signin" role="form">
		<h3 class="customFonts">Welcome to brewfest and chili cookoff 2014.</h3>
		<p class="customFonts"> Please scan the QR code or enter your 4 digit code</p>
		<input type="text" placeholder="Code" class="form-control customFonts" ng-model="entryCode" required autofocus/>
		<p ng-show="showLoginError" class="customFonts"> {{ errorMessage }}</p>
	 	<button type="submit" class="btn btn-lg btn-block customFonts" ng-click="login(entryCode)">enter</button>&nbsp;&nbsp;
</form>